NODE_ENV=development
PORT=4000
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_NAME=chu
DB_LOGGING=false
SUI_RPC_URL=https://fullnode.testnet.sui.io:443
SUI_NETWORK=testnet
SUI_PACKAGE_ID=0xedc20852fba479e27d10cb05ca415cbb608dcb4fddc1f0749fbfa3e4c93c71b7
